<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Instagram Account Identification</title>
</head>
<body>

<h1>Fake Instagram Account Identification</h1>

<form method="POST" action="http://127.0.0.1:5000/evaluate">
    <label for="profile_pic">Profile Pic
        <input type="number" name="profile_pic" min="0" max="1">
    </label><br>
    <label for="username">Username
        <input type="text" name="username">
    </label><br>
    <label for="fullname">FullName
        <input type="text" name="fullname">
    </label><br>
    <label for="description">Description
        <input type="text" name="description">
    </label><br>
    <label for="external_url">External URL
        <input type="number" name="external_url" min="0" max="1">
    </label><br>
    <label for="private">Private
        <input type="number" name="private" min="0" max="1">
    </label><br>
    <label for="post">No.of Posts
        <input type="number" name="post">
    </label><br>
    <label for="followers">Followers Count
        <input type="number" name="followers">
    </label><br>
    <label for="follows">Following Count
        <input type="number" name="follows">
    </label><br>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>